<div class="container">
  <div class="welcome" id="home">
    <div class="body">
      <h2>
        I'am Mohamed Machlou <br />
        <span>Full Stack </span>Developer
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        necessitatibus quis asperiores, ipsam dolores itaque reiciendis libero
        dolorem, dolore ratione at. Illo, tempore incidunt odit animi dolores
        consequuntur odio expedita debitis assumenda nemo iusto ipsa
        exercitationem! Libero, ullam aut perspiciatis quos vero molestias iusto
      </p>
      <button>Hire Me</button>
    </div>
    <div class="img">
      <img src="./../../../../assets/images/my pic yellow bg.png" alt="" />
    </div>
    <span class="blue1 cercle"></span>
    <span class="blue2 cercle"></span>
    <span class="green1 cercle"></span>
    <span class="green2 cercle"></span>
    <span class="blue3 square"></span>
    <span class="green3 square"></span>
  </div>
</div>
