<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="container">
  <div class="welcome">
    <div class="block">
      <h2>
        I'am Mohamed Machlou <br />
        <span>Full Stack </span>Developer
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        necessitatibus quis asperiores, ipsam dolores itaque reiciendis libero
        dolorem, dolore ratione at. Illo, tempore incidunt odit animi dolores
        consequuntur odio expedita debitis assumenda nemo iusto ipsa
        exercitationem! Libero, ullam aut perspiciatis quos vero molestias iusto
      </p>
      <button>Hire Me</button>
    </div>
    <div class="img"></div>
  </div>
</div>
