<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="container section" id="education">
  <div class="section-heading" id="education">
    <div class="heading-block">
      <h2>Education</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        sint?
      </p>
    </div>
  </div>
  <div class="education">
    <div class="block">
      <div class="head">
        <h3>University Ibn Zohr</h3>
        <h5>Student Jan Dec-2022</h5>
      </div>
      <div class="body">
        <h3>Big Data Master</h3>
        <p>
          Lorem ipsum dolor sit amet conse. <br />Lorem ipsum dolor sit amet
          conse. <br />Lorem ipsum dolor sit amet conse. <br />Lorem ipsum dolor
          sit amet conse. <br />Lorem ipsum dolor sit amet conse. <br />
        </p>
      </div>
    </div>
    <span></span>
    <div class="block">
      <div class="head">
        <h3>University Ibn Zohr</h3>
        <h5>Student Jan Dec-2022</h5>
      </div>
      <div class="body">
        <h3>Big Data Master</h3>
        <p>
          Lorem ipsum dolor sit amet conse. <br />Lorem ipsum dolor sit amet
          conse. <br />Lorem ipsum dolor sit amet conse. <br />Lorem ipsum dolor
          sit amet conse. <br />Lorem ipsum dolor sit amet conse. <br />
        </p>
      </div>
    </div>
    <span></span>
    <div class="block">
      <div class="head">
        <h3>University Ibn Zohr</h3>
        <h5>Student Jan Dec-2022</h5>
      </div>
      <div class="body">
        <h3>Big Data Master</h3>
        <p>
          Lorem ipsum dolor sit amet conse. <br />Lorem ipsum dolor sit amet
          conse. <br />Lorem ipsum dolor sit amet conse. <br />Lorem ipsum dolor
          sit amet conse. <br />Lorem ipsum dolor sit amet conse. <br />
        </p>
      </div>
    </div>
  </div>
</div>
