/* Portfolio Version Created by Mohamed Machlou */
.container .education {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.container .education .block {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: start;
  border-radius: 8px;
}
.container .education .head {
  width: 40%;
  padding: 20px 10px;
  /* background-color: #ffff00; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .education .body {
  width: 60%;
  padding: 20px 10px;
  /* background-color: rgb(232, 240, 246); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .education span {
  background-color: var(--text-gray);
  height: 1px;
  width: 80%;
  margin: 10px 0px;
}
