/* Portfolio Version Created by Mohamed Machlou */
.container .blogs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  gap: 2%;
  /* justify-content: space-between; */
  align-items: center;
}
.container .blogs .blog {
  width: 31%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  background-color: #ffffff;
}
.container .blogs .blog img {
  margin-top: 30px;
  width: 100%;
  display: block;
}
.container .blogs .blog h4,
.container .blogs .blog p {
  padding-left: 15px;
  padding-right: 15px;
}
.container .blogs .blog h4:last-child {
  color: var(--main-color);
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .container .blogs .blog {
    width: 40%;
  }
}
/* Large devices (desktops, 768px and down) */
@media (max-width: 768px) {
  .container .blogs {
    justify-content: center;
  }
  .container .blogs .blog {
    width: 80%;
  }
}
