<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="container section" id="blog">
  <div class="section-heading" id="blog">
    <div class="heading-block">
      <h2>Blog</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        sint?
      </p>
    </div>
  </div>
  <div class="blogs">
    <div class="blog">
      <img
        src="../../../../assets/images/Services__Images/design__3.svg"
        alt=""
      />
      <h4>How To Make Web Templates</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat amet
        quidem animi atque dignissimos quibusdam fugit, laudantium qui dolore
        harum!
      </p>
      <h4>Learn more...</h4>
    </div>
    <div class="blog">
      <img
        src="../../../../assets/images/Services__Images/design__3.svg"
        alt=""
      />
      <h4>How To Make Web Templates</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat amet
        quidem animi atque dignissimos quibusdam fugit, laudantium qui dolore
        harum!
      </p>
      <h4>Learn more...</h4>
    </div>
    <div class="blog">
      <img
        src="../../../../assets/images/Services__Images/design__3.svg"
        alt=""
      />
      <h4>How To Make Web Templates</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat amet
        quidem animi atque dignissimos quibusdam fugit, laudantium qui dolore
        harum!
      </p>
      <h4>Learn more...</h4>
    </div>
    <div class="blog">
      <img
        src="../../../../assets/images/Services__Images/design__3.svg"
        alt=""
      />
      <h4>How To Make Web Templates</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat amet
        quidem animi atque dignissimos quibusdam fugit, laudantium qui dolore
        harum!
      </p>
      <h4>Learn more...</h4>
    </div>
    <div class="blog">
      <img
        src="../../../../assets/images/Services__Images/design__3.svg"
        alt=""
      />
      <h4>How To Make Web Templates</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat amet
        quidem animi atque dignissimos quibusdam fugit, laudantium qui dolore
        harum!
      </p>
      <h4>Learn more...</h4>
    </div>
  </div>
</div>
