<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="container section" id="contact">
  <div class="contact" id="contact">
    <div class="infos">
      <div class="info">
        <div class="img">
          <img
            src="../../../../assets/images/contact-infos-icons/home--menu--icon.svg"
            alt=""
          />
        </div>
        <div class="plus">
          <h5>Country:</h5>
          <h5>Morocco</h5>
        </div>
        <div class="plus">
          <h5>City:</h5>
          <h5>Agadir</h5>
        </div>
        <div class="plus">
          <h5>Street:</h5>
          <h5>15, Résidence Yasmine, Founty</h5>
        </div>
      </div>
      <div class="info">
        <div class="img">
          <img
            src="../../../../assets/images/contact-infos-icons/home--menu--icon.svg"
            alt=""
          />
        </div>
        <div class="plus">
          <h5>Email:</h5>
          <h5>medmachlou&#64;gmail.com</h5>
        </div>
        <div class="plus">
          <h5>Telegram:</h5>
          <h5>&#64;machloumed</h5>
        </div>
      </div>
      <div class="info">
        <div class="img">
          <img
            src="../../../../assets/images/contact-infos-icons/home--menu--icon.svg"
            alt=""
          />
        </div>
        <div class="plus">
          <h5>Office:</h5>
          <h5>+212528546543</h5>
        </div>
        <div class="plus">
          <h5>Personal:</h5>
          <h5>+212653508459</h5>
        </div>
      </div>
    </div>
    <form #f="ngForm" (ngSubmit)="showForm(f)">
      <div class="form-group">
        <label for="">Your Full Name <span>*</span></label>
        <input
          required
          minlength="4"
          maxlength="70"
          pattern="[a-zA-Z ]+"
          #fullname="ngModel"
          ngModel
          name="fullname"
          (change)="validate(fullname)"
          type="text"
        />
        <div class="alert-success" *ngIf="fullname.dirty && fullname.valid">
          Données sont correctes
        </div>
        <div class="alert-danger" *ngIf="fullname.touched && !fullname.valid">
          <div *ngIf="fullname.errors?.['required']">
            Ce champs est obligatoire !!
          </div>
          <div *ngIf="fullname.errors?.['minlength']">
            Ce champs doit avoir
            {{ fullname.errors?.['minlength'].actualLength


            }}/{{ fullname.errors?.['minlength'].requiredLength }} chars !!
          </div>
          <div *ngIf="fullname.errors?.['pattern']">
            Ce champs doit etre alpha !!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Your Email<span>*</span></label>
        <input
          required
          minlength="10"
          maxlength="70"
          pattern="[a-zA-Z0-9_\.]+@[a-zA-Z]+\.[a-zA-Z]+"
          #email="ngModel"
          ngModel
          name="email"
          (change)="validate(email)"
          type="text"
        />
        <div class="alert-success" *ngIf="email.dirty && email.valid">
          Valide email
        </div>
        <div class="alert-danger" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors?.['required']">
            Ce champs est obligatoire !!
          </div>
          <div *ngIf="email.errors?.['minlength']">
            Ce champs doit avoir
            {{ email.errors?.['minlength'].actualLength











            }}/{{ email.errors?.['minlength'].requiredLength }} chars !!
          </div>
          <div *ngIf="email.errors?.['pattern']">
            Ce champs doit etre exemple&#64;name.com
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">Subject</label>
        <input type="text" />
      </div>
      <div class="form-group">
        <label for="">Your Message<span>*</span></label>
        <textarea
          required
          minlength="10"
          maxlength="250"
          #message="ngModel"
          ngModel
          name="message"
          (change)="validate(message)"
          id=""
        ></textarea>
        <div class="alert-danger" *ngIf="message.touched && !message.valid">
          <div *ngIf="message.errors?.['required']">
            Ce champs est obligatoire !!
          </div>
          <div *ngIf="message.errors?.['minlength']">
            Ce champs doit avoir
            {{ message.errors?.['minlength'].actualLength







            }}/{{ message.errors?.['minlength'].requiredLength }} chars !!
          </div>
        </div>
      </div>
      <button [disabled]="!f.valid">SEND MESSAGE</button>
    </form>
  </div>
  <!-- <div class="maps">
    <google-map
      [center]="center"
      [zoom]="zoom"
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
    >
    </google-map>
  </div> -->
</div>
