/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 3 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.container .contact {
  width: 100%;
  padding: 20px 0px;
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.container .contact .infos {
  /* min-width: 300px; */
  width: 32%;
  height: 645px;
  /* background-color: #fcfcfc; */
}
.container .contact .infos .info {
  width: 100%;
  border-radius: 6px;
  background-color: var(--front-color-Befor);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 0px;
}
.container .contact .infos .info .img {
  width: 35px;
  height: 35px;
  margin: 20px 0px 30px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .contact .infos .info .img img {
  width: 16px;
  margin: 5px;
}
.container .contact .infos .info .plus {
  width: 100%;
  padding: 0px 10px;
  /* background-color: #a8a8a8; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .contact .infos .info .plus h5 {
  margin: 10px 0px;
  font-weight: 400;
  font-size: 15px;
}
form {
  /* width: 500px; */
  width: 60%;
  height: auto;
  /* height: 660px; */
  padding: 40px 25px 25px;
  background-color: var(--front-color-Befor);
  border-radius: 6px;
}
form .form-group {
  width: 100%;
  margin: 10px 0px 30px;
  display: flex;
  flex-direction: column;
}
form .form-group label {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  color: var(--label-color-befor);
  margin-bottom: 8px;
}
form .form-group input {
  width: 100%;
  height: 35px;
  background-color: var(--input-color-befor);
  margin-bottom: 8px;
  border: none;
  border-radius: 6px;
  caret-color: black;
  font-weight: 600;
  font-size: 14px;
}
form .form-group textarea {
  width: 100%;
  min-height: 80px;
  height: 175px;
  background-color: var(--input-color-befor);
  margin-bottom: 8px;
  border: none;
  border-radius: 6px;
  caret-color: black;
  font-weight: 600;
  font-size: 14px;
}
form button {
  width: 180px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
}
form button:disabled {
  background-color: var(--btn-color-diasble);
}
form span {
  font-weight: 800;
  font-size: 18px;
  color: red;
}
.container .maps {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.alert-success {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #d5ecda;
  color: #137a06;
}
.alert-danger {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f5c4c4;
  color: #8f0f0f;
  /* color: #de3f3f; */
}
.ng-dirty.ng-valid {
  outline-color: #37dd5b;
}
.ng-dirty.ng-invalid {
  outline-color: #f82626;
}

/* Large devices (desktops, 1200px and up) */
@media (max-width: 1200px) {
  .container .contact {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .container .contact .infos {
    width: 38%;
  }
  .container .contact form {
    width: 60%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .container .contact {
    width: 90%;
  }
}
/* Large devices (desktops, 768px and up) */
@media (max-width: 768px) {
  .container .contact {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    flex-direction: column;
    align-items: start;
  }
  .container .contact .infos {
    width: 100%;
  }
  .container .contact form {
    width: 100%;
    margin-top: 20px;
  }
}
/* Large devices (desktops, 567px and up) */
@media (max-width: 567px) {
  .container .contact {
    width: 82%;
    margin-right: 6%;
    margin-left: 6%;
  }
  .container .contact .infos {
    width: 100%;
  }
  .container .contact form {
    width: 100%;
    margin-top: 20px;
  }
}
/* Small devices (landscape phones, 400px and up) */
@media (max-width: 400px) {
  .container .contact {
    width: 86%;
    margin-right: 12%;
    margin-left: 2%;
  }
}
