<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="container section" id="portfolio">
  <div class="section-heading">
    <div class="heading-block">
      <h2>Portfolio</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        sint?
      </p>
    </div>
  </div>
  <div class="portfolio" id="myportfolio">
    <ul>
      <li (click)="setId(0); getImages()">All Categories</li>
      <li (click)="setId(1); getImages()">UI Design</li>
      <li (click)="setId(2); getImages()">Web Template</li>
      <li (click)="setId(3); getImages()">Web Apps</li>
      <li (click)="setId(4); getImages()">Logo</li>
    </ul>
    <div class="slider">
      <div
        [classList]="this.mainImgIndex != 0 ? 'arr-active' : 'arr-deactive'"
        (click)="prevImage()"
      >
        <img
          src="../../../../assets/images/Portfolio__Images/left-arrow.svg"
          alt=""
        />
      </div>
      <img class="prev-img" [src]="prevImg()" alt="" />
      <img class="main-img" [src]="mainImg()" alt="" />
      <img class="next-img" [src]="nextImg()" alt="" />
      <div
        [classList]="
          this.mainImgIndex + 1 == imgToShow.length
            ? 'arr-deactive'
            : 'arr-active'
        "
        (click)="nextImage()"
      >
        <img
          src="../../../../assets/images/Portfolio__Images/right-arrow.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
