<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="container section" id="portfolio">
  <div class="section-heading">
    <div class="heading-block">
      <h2>Portfolio</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        sint?
      </p>
    </div>
  </div>
  <div class="portfolio" id="myportfolio">
    <ul>
      <li (click)="setId(0)">All Categories</li>
      <li (click)="setId(1)">UI Design</li>
      <li (click)="setId(2)">Web Template</li>
      <li (click)="setId(3)">Web Apps</li>
      <li (click)="setId(4)">Logo</li>
    </ul>
    <div class="portfolio_img">
      <div class="show-img" *ngFor="let source of showImg">
        <img [src]="source" alt="" />
      </div>
    </div>
  </div>
</div>
