<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="container">
  <div class="section-heading">
    <div class="heading-block">
      <h2>Recommendations</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        sint?
      </p>
    </div>
  </div>
  <div class="recommendations">
    <div class="block" id="recommendation">
      <div class="etoile">
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
      </div>
      <div class="body">
        <h4>Great Quality!</h4>
        <p>
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit.
        </p>
      </div>
      <div class="img">
        <img src="../../../../assets/images/profile-pic-1.png" alt="" />
        <div class="title">
          <h4>Elise Baker</h4>
          <h4>Web Developer</h4>
        </div>
      </div>
    </div>
    <div class="block" id="recommendation">
      <div class="etoile">
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
      </div>
      <div class="body">
        <h4>Excelent Exp!</h4>
        <p>
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit.
        </p>
      </div>
      <div class="img">
        <img src="../../../../assets/images/profile-pic-2.png" alt="" />
        <div class="title">
          <h4>Elon Musk</h4>
          <h4>CEO of Tesla Motors</h4>
        </div>
      </div>
    </div>
    <div class="block" id="recommendation">
      <div class="etoile">
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
        <img src="../../../../assets/images/Star.svg" alt="" />
      </div>
      <div class="body">
        <h4>Good Job!</h4>
        <p>
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit. <br />
          Lorem ipsum dolor sit.
        </p>
      </div>
      <div class="img">
        <img src="../../../../assets/images/profile-pic-3.png" alt="" />
        <div class="title">
          <h4>Bill Gites</h4>
          <h4>Former CEO of Microsoft</h4>
        </div>
      </div>
    </div>
  </div>
</div>
