/* Portfolio Version Created by Mohamed Machlou */
.recommendations {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.recommendations .block {
  width: 32%;
  padding: 20px 0px 7px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.recommendations .block .etoile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #93f6d5; */
}
.recommendations .block .etoile img {
  width: 20px;
  margin-left: 17px;
}
.recommendations .block .body {
  width: 100%;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.recommendations .block .body p {
  color: var(--text-gray-contrastA);
}
.recommendations .block .img {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.recommendations .block .img {
  font-weight: 400;
  font-size: 12px;
}
.recommendations .block .img h4 {
  color: black;
}
.recommendations .block .img img {
  width: 70px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  .recommendations {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .recommendations .block {
    width: 32%;
  }
}
/* Extra large devices (large desktops, 992px and down) */
@media (max-width: 992px) {
  .recommendations {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .recommendations .block {
    width: 47%;
    margin-bottom: 30px;
  }
}
/* Extra large devices (large desktops, 768px and down) */
@media (max-width: 768px) {
  .recommendations {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .recommendations .block {
    width: 49%;
    margin-bottom: 10px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .recommendations {
    width: 90%;
    margin-left: 6%;
    margin-right: 5%;
  }
  .recommendations .block {
    width: 90%;
    margin-bottom: 10px;
  }
}
/* Small devices (landscape phones, 400px and up) */
@media (max-width: 400px) {
  .recommendations {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .recommendations .block {
    width: 90%;
    margin-bottom: 10px;
  }
}
