<!-- Portfolio Version Created by Mohamed Machlou  -->
<div
  class="nav"
  [style]="{
    'background-color': this.switchClr() ? 'var(--main-back-color)' : 'white'
  }"
>
  <div class="contrast">
    <a
      (click)="switchColor()"
      class="isDeactiveClass"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
    >
      <img
        src="../../../../assets/images/Menu Icons Deactive/Contrast-m-Icon.svg"
        alt=""
      />
    </a>
  </div>
  <div class="menu">
    <a
      (click)="goToSection('home')"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'home' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        style="display: flex"
        src="../../../../assets/images/Menu Icons Active/home--menu--icon.svg"
        alt=""
      />
      <img
        style="display: none"
        src="../../../../assets/images/Menu Icons Deactive/Home-m-Icon.svg"
        alt=""
      />
    </a>
    <a
      (click)="goToSection('service')"
      routerLink="['/service']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'service' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        style="display: none"
        src="../../../../assets/images/Menu Icons Active/Services--menu--icon.svg"
        alt=""
      />
      <img
        style="display: flex"
        src="../../../../assets/images/Menu Icons Deactive/Services-m-Icon.svg"
        alt=""
      />
    </a>
    <a
      (click)="goToSection('education')"
      routerLink="['/education']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'education' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        style="display: none"
        src="../../../../assets/images/Menu Icons Active/Education--menu--icon.svg"
        alt=""
      />
      <img
        style="display: flex"
        src="../../../../assets/images/Menu Icons Deactive/Education-m-Icon.svg"
        alt=""
      />
    </a>
    <a
      (click)="goToSection('portfolio')"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'portfolio' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        style="display: none"
        src="../../../../assets/images/Menu Icons Active/Portfolio--menu--icon.svg"
        alt=""
      />
      <img
        style="display: flex"
        src="../../../../assets/images/Menu Icons Deactive/Portfolio-m-Icon.svg"
        alt=""
      />
    </a>
    <a
      (click)="goToSection('blog')"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'blog' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        style="display: none"
        src="../../../../assets/images/Menu Icons Active/Blog--menu--icon.svg"
        alt=""
      />
      <img
        style="display: flex"
        src="../../../../assets/images/Menu Icons Deactive/Blog-m-Icon.svg"
        alt=""
      />
    </a>
    <a
      (click)="goToSection('contact')"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'contact' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        style="display: none"
        src="../../../../assets/images/Menu Icons Active/Contact--menu--icon.svg"
        alt=""
      />
      <img
        style="display: flex"
        src="../../../../assets/images/Menu Icons Deactive/Contact-m-Icon.svg"
        alt=""
      />
    </a>
  </div>
</div>
