<div class="nav">
  <div class="contrast" id="home">
    <a
      class="isDeactiveClass"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
    >
      <img
        src="../../../../assets/images/Menu Icons Deactive/Contrast-m-Icon.svg"
        alt=""
      />
    </a>
  </div>
  <div class="menu">
    <a
      (click)="goToSection('home')"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'home' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        src="../../../../assets/images/Menu Icons Active/home--menu--icon.svg"
        alt=""
        *ngIf="this.isActive() == 'home'"
      />
      <img
        src="../../../../assets/images/Menu Icons Deactive/Home-m-Icon.svg"
        alt=""
        *ngIf="this.isActive() != 'home'"
      />
    </a>
    <a
      (click)="goToSection('service')"
      routerLink="['/service']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'service' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        src="../../../../assets/images/Menu Icons Active/Services--menu--icon.svg"
        alt=""
        *ngIf="this.isActive() == 'service'"
      />
      <img
        src="../../../../assets/images/Menu Icons Deactive/Services-m-Icon.svg"
        alt=""
        *ngIf="this.isActive() != 'service'"
      />
    </a>
    <a
      (click)="goToSection('education')"
      routerLink="['/education']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'education' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        src="../../../../assets/images/Menu Icons Active/Education--menu--icon.svg"
        alt=""
        *ngIf="this.isActive() == 'education'"
      />
      <img
        src="../../../../assets/images/Menu Icons Deactive/Education-m-Icon.svg"
        alt=""
        *ngIf="this.isActive() != 'education'"
      />
    </a>
    <a
      (click)="goToSection('portfolio')"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'portfolio' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        src="../../../../assets/images/Menu Icons Active/Portfolio--menu--icon.svg"
        alt=""
        *ngIf="this.isActive() == 'portfolio'"
      />
      <img
        src="../../../../assets/images/Menu Icons Deactive/Portfolio-m-Icon.svg"
        alt=""
        *ngIf="this.isActive() != 'portfolio'"
      />
    </a>
    <a
      (click)="goToSection('blog')"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'blog' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        src="../../../../assets/images/Menu Icons Active/Blog--menu--icon.svg"
        alt=""
        *ngIf="this.isActive() == 'blog'"
      />
      <img
        src="../../../../assets/images/Menu Icons Deactive/Blog-m-Icon.svg"
        alt=""
        *ngIf="this.isActive() != 'blog'"
      />
    </a>
    <a
      (click)="goToSection('contact')"
      routerLink="['/home']"
      routerLinkActive="router-link-active"
      [ngClass]="[
        this.isActive() == 'contact' ? 'isActiveClass' : 'isDeactiveClass'
      ]"
    >
      <img
        src="../../../../assets/images/Menu Icons Active/Contact--menu--icon.svg"
        alt=""
        *ngIf="this.isActive() == 'contact'"
      />
      <img
        src="../../../../assets/images/Menu Icons Deactive/Contact-m-Icon.svg"
        alt=""
        *ngIf="this.isActive() != 'contact'"
      />
    </a>
  </div>
</div>
