<div class="nav">
  <div class="contrast">
    <a href="">
      <img src="../../../../assets/images/Contrast-m-Icon.svg" alt="" />
    </a>
  </div>
  <div class="menu">
    <a href="">
      <img src="../../../../assets/images/Home-m-Icon.svg" alt="" />
    </a>
    <a href="">
      <img src="../../../../assets/images/Services-m-Icon.svg" alt="" />
    </a>
    <a href="">
      <img src="../../../../assets/images/Education-m-Icon.svg" alt="" />
    </a>
    <a href="">
      <img src="../../../../assets/images/Portfolio-m-Icon.svg" alt="" />
    </a>
    <a href="">
      <img src="../../../../assets/images/Blog-m-Icon.svg" alt="" />
    </a>
    <a href="">
      <img src="../../../../assets/images/Contact-m-Icon.svg" alt="" />
    </a>
  </div>
</div>
