<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="infos">
  <div class="image" id="home">
    <div class="img">
      <img src="" alt="" />
    </div>
    <h2>Mohamed Machlou</h2>
    <h3>Full Stack Developer</h3>
    <div class="social-media">
      <div class="img" (click)="goTo('fa')">
        <img
          src="../../../../assets/images/white svg social media-icon/facebook_icon.svg"
          alt=""
        />
      </div>
      <div class="img" (click)="goTo('in')">
        <img
          src="../../../../assets/images/white svg social media-icon/instagram_icon.svg"
          alt=""
        />
      </div>
      <div class="img" (click)="goTo('tw')">
        <img
          src="../../../../assets/images/white svg social media-icon/twitter_icon.svg"
          alt=""
        />
      </div>
      <div class="img" (click)="goTo('git')">
        <img
          src="../../../../assets/images/white svg social media-icon/github_icon.svg"
          alt=""
        />
      </div>
      <div class="img" (click)="goTo('lin')">
        <img
          src="../../../../assets/images/white svg social media-icon/linkedin_icon.svg"
          alt=""
        />
      </div>
    </div>
    <div class="line"></div>
    <div class="perso">
      <h3>Age :</h3>
      <h3>24</h3>
    </div>
    <div class="perso">
      <h3>Residence :</h3>
      <h3>Al Farah</h3>
    </div>
    <div class="perso">
      <h3>Remote :</h3>
      <h3 class="available">Available</h3>
    </div>
    <div class="perso">
      <h3>Address :</h3>
      <h3>Agadir, Morocco</h3>
    </div>
    <div class="line"></div>
    <div class="title">
      <h2>Languages</h2>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>English</h3>
        <h3>40%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 40%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>French</h3>
        <h3>60%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 60%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>Arab</h3>
        <h3>90%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 90%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>Tamazight</h3>
        <h3>95%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 95%"></div>
      </div>
    </div>
    <div class="line"></div>
    <div class="title">
      <h2>Skills</h2>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>Angular</h3>
        <h3>60%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 60%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>React Js</h3>
        <h3>20%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 20%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>Node Js</h3>
        <h3>10%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 10%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>TypeScript</h3>
        <h3>60%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 60%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>JavaScript</h3>
        <h3>60%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 60%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>Bootstrap</h3>
        <h3>55%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 55%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>CSS3</h3>
        <h3>50%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 50%"></div>
      </div>
    </div>
    <div class="side-bar">
      <div class="indicators">
        <h3>HTML5</h3>
        <h3>70%</h3>
      </div>
      <div class="back">
        <div class="under" style="width: 70%"></div>
      </div>
    </div>
  </div>
</div>
