<!-- Portfolio Version Created by Mohamed Machlou  -->
<div class="container">
  <div class="section-heading">
    <div class="heading-block">
      <h2>Price Plans</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus</p>
    </div>
  </div>
  <div class="prices">
    <div class="price" id="price">
      <div class="head"><h4>Basic</h4></div>
      <div class="body">
        <h4>Silver</h4>
        <h2>$20.00 <span>/Hour</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          quisquam.
        </p>
      </div>
      <div class="services">
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> UI Design
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> Web
            Development
          </h4>
        </div>
        <div class="service service-disable">
          <h4>
            <img src="../../../../assets/images/close.svg" alt="" /> Logo Design
          </h4>
        </div>
        <div class="service service-disable">
          <h4>
            <img src="../../../../assets/images/close.svg" alt="" /> Seo
            Optimization
          </h4>
        </div>
        <div class="service service-disable">
          <h4>
            <img src="../../../../assets/images/close.svg" alt="" /> WordPress
            Integration
          </h4>
        </div>
        <div class="service service-disable">
          <h4>
            <img src="../../../../assets/images/close.svg" alt="" /> Unlimited
            User
          </h4>
        </div>
        <div class="service service-disable">
          <h4>
            <img src="../../../../assets/images/close.svg" alt="" /> 20 GB
            Bandwith
          </h4>
        </div>
      </div>
      <div class="btn">
        <button>ORDER NOW</button>
      </div>
    </div>
    <div class="price" id="price">
      <div class="head"><h4>Most Popular</h4></div>
      <div class="body">
        <h4>Gold</h4>
        <h2>$50.00 <span>/Hour</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          quisquam.
        </p>
      </div>
      <div class="services">
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> UI Design
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> Web
            Development
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> Logo Design
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> Seo
            Optimization
          </h4>
        </div>
        <div class="service service-disable">
          <h4>
            <img src="../../../../assets/images/close.svg" alt="" /> WordPress
            Integration
          </h4>
        </div>
        <div class="service service-disable">
          <h4>
            <img src="../../../../assets/images/close.svg" alt="" /> Unlimited
            User
          </h4>
        </div>
        <div class="service service-disable">
          <h4>
            <img src="../../../../assets/images/close.svg" alt="" /> 20 GB
            Bandwith
          </h4>
        </div>
      </div>
      <div class="btn">
        <button>ORDER NOW</button>
      </div>
    </div>
    <div class="price" id="price">
      <div class="head">
        <h4>Recommended</h4>
      </div>
      <div class="body">
        <h4>Dimond</h4>
        <h2>$200.00 <span>/Hour</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          quisquam.
        </p>
      </div>
      <div class="services">
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> UI Design
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> Web
            Development
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> Logo Design
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> Seo
            Optimization
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> WordPress
            Integration
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> Unlimited
            User
          </h4>
        </div>
        <div class="service service-enable">
          <h4>
            <img src="../../../../assets/images/check.svg" alt="" /> 20 GB
            Bandwith
          </h4>
        </div>
      </div>
      <div class="btn">
        <button>ORDER NOW</button>
      </div>
    </div>
  </div>
</div>
