.container .prices {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  /* background-color: #ececec; */
}
.container .prices .price {
  background-color: #ffffff;
  width: 30%;
  /* width: 270px; */
  height: 620px;
  margin: 0px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.container .prices .price .head {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container .prices .price:first-child .head {
  background-color: #b7b7b7;
}
.container .prices .price:nth-child(2) .head {
  background-color: #f8e90b;
}
.container .prices .price:last-child .head {
  background-color: #37f91d;
}
.container .prices .price .head h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font: 16px;
}
.container .prices .price .body {
  margin-top: 30px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container .prices .price .body h3 {
  font-weight: 600;
  font-size: 22px;
}
.container .prices .price .body h2 {
  font-weight: 800;
  font-size: 30px;
}
.price .body h2 span {
  font-weight: 400;
  font-size: 17px;
}
.container .prices .price .body p {
  font-weight: --text-para-weight;
  font-size: var(--text-para-size);
  color: var(--text-gray);
}
.container .prices .price .services {
  background-color: #eb3232;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .prices .price .services .service {
  background-color: #ffffff;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .prices .price .services .service h4 {
  margin-top: 0px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
}
.service-enable {
  color: #000000;
}
.service-disable {
  color: var(--text-gray);
}
.container .prices .price .services .service h4 img {
  margin-right: 40px;
  margin-left: 40px;
}
.container .prices .price .btn {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .prices .price .btn button {
  width: 150px;
  font-weight: 500;
  font-size: 15px;
}
.container .prices .price:nth-child(2) {
  height: 660px;
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .container .prices .price {
    width: 40%;
  }
  .container .prices .price:last-child {
    margin-top: 30px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .container .prices .price {
    width: 70%;
    margin-top: 30px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .container .prices .price {
    width: 80%;
    margin-top: 30px;
  }
}
