/* Portfolio Version Created by Mohamed Machlou */
/* Start Variables  */
:root {
  /* --main-color: #274696; */
  --main-color: #2a4fa7;
  /* --main-color: #00d1ff; */
  --gray-color: #747373;
  --text-gray: #969494;
  --text-para-size: 16px;
  --text-para-weight: 400;
  --background-color: #e7e7e7;
}
/* End Variables  */
/* Button Component */
button {
  width: 120px;
  height: 38px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  background-color: var(--main-color);
  color: #ffffff;
  cursor: pointer;
}
/* Start Section Heading Component */
.container .section-heading {
  width: 90%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-heading .heading-block {
  width: 45%;
  padding: 20px;
  margin: 30px 0px;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-heading .heading-block h2 {
  margin: 0px;
  font-weight: 600;
  font-size: 25px;
}
.section-heading .heading-block p {
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-color);
}
/* End Section Heading Component */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  caret-color: transparent;
  background-color: var(--background-color);
}
/* Start Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .portfolio {
    width: 576px;
    background-color: rgb(97, 245, 11);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .portfolio {
    width: 768px;
    background-color: rgb(59, 157, 226);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .portfolio {
    width: 992px;
    background-color: rgb(250, 250, 38);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .portfolio {
    width: 1200px;
    background-color: var(--background-color);
    /* background-color: #e5e5e5; */
  }
}
/* End Media Queries */
/* End  Global Rules */
.portfolio {
  display: grid;
  grid-template-columns: 28% 68%;
  gap: 3%;
  position: relative;
  width: 95%;
  margin-top: 0px;
}
.about {
  background-color: #ffffff;
  height: 1400px;
  width: 330px;
  margin-bottom: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 8px;
}
.container {
  /* background-color: #000000; */
}
.nav {
  background-color: #ffffff;
  height: 650px;
  width: 60px;
  position: fixed;
  top: 9px;
  right: 0px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
}
/* Large devices (desktops, 1200px and down) */
@media (max-width: 1170px) {
  .portfolio {
    display: flex;
    flex-direction: column;
  }
  .about {
    margin-left: 20%;
    height: 1400px;
    width: 630px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .about {
    margin-left: 5%;
    height: 1400px;
    width: 630px;
  }
}
/* Large devices (desktops, 768px and down) */
@media (max-width: 768px) {
  .about {
    margin-left: 5%;
    height: 1400px;
    width: 450px;
  }
}
/* Large devices (desktops, 576px and down) */
@media (max-width: 576px) {
  .about {
    /* margin-left: 5%; */
    height: 1400px;
    width: 375px;
  }
}
