<!-- Portfolio Version Created by Mohamed Machlou -->
<div class="container">
  <div class="section-heading" id="service">
    <div class="heading-block">
      <h2>My Services</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        sint?
      </p>
    </div>
  </div>
  <div class="my-services">
    <div class="block">
      <div class="service">
        <img
          src="../../../../assets/images/Services-icon/coding--blue--icon.svg"
          alt=""
        />
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet, consect</p>
      </div>
      <div class="service">
        <img
          src="../../../../assets/images/Services-icon/illustration--blue--icon.svg"
          alt=""
        />
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet, consect</p>
      </div>
      <div class="service">
        <img
          src="../../../../assets/images/Services-icon/Microphone--blue--icon.svg"
          alt=""
        />
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet, consect</p>
      </div>
    </div>
    <div class="block">
      <div class="service">
        <img
          src="../../../../assets/images/Services-icon/game-development--blue--icon.svg"
          alt=""
        />
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet, consect</p>
      </div>
      <div class="service">
        <img
          src="../../../../assets/images/Services-icon/Photographer--blue--icon.svg"
          alt=""
        />
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet, consect</p>
      </div>
      <div class="service">
        <img
          src="../../../../assets/images/Services-icon/Ad-pop-up--blue--icon.svg"
          alt=""
        />
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet, consect</p>
      </div>
    </div>
  </div>
</div>
