/* Portfolio Version Created by Mohamed Machlou */
.container .my-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
.container .my-services .service {
  width: 32%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.container .my-services .service img {
  width: 80px;
  margin: 10px 5px 30px;
  fill: #0d1be7;
}
.container .my-services .service h3 {
  font-weight: 600;
  font-size: 17px;
  margin: 20px 0px 0px;
}
.container .my-services .service p {
  font-weight: 500;
  font-size: 15px;
  color: #868684;
}
/* Large devices (desktops, 1200px and down) */
@media (max-width: 1200px) {
  .container .my-services {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container .my-services .service {
    width: 32%;
    padding: 20px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .container .my-services {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container .my-services .service {
    width: 32%;
    padding: 20px;
  }
}
/* Large devices (desktops, 768px and down) */
@media (max-width: 768px) {
  .container .my-services {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container .my-services .service {
    width: 49%;
    padding: 20px;
  }
}
/* Large devices (desktops, 576px and down) */
@media (max-width: 576px) {
  .container .my-services {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container .my-services .service {
    width: 90%;
    padding: 20px;
    margin-left: 2%;
  }
}
