<!-- Portfolio Version Created by Mohamed Machlou -->
<div class="container section">
  <div class="section-heading">
    <div class="heading-block">
      <h2>My Services</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        sint?
      </p>
    </div>
  </div>
  <div class="my-services">
    <div class="service" id="service">
      <img
        src="../../../../assets/images/Services-icon/coding--blue--icon.svg"
        alt=""
      />
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consect</p>
    </div>
    <div class="service" id="service">
      <img
        src="../../../../assets/images/Services-icon/illustration--blue--icon.svg"
        alt=""
      />
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consect</p>
    </div>
    <div class="service" id="service">
      <img
        src="../../../../assets/images/Services-icon/Microphone--blue--icon.svg"
        alt=""
      />
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consect</p>
    </div>
    <div class="service" id="service">
      <img
        src="../../../../assets/images/Services-icon/game-development--blue--icon.svg"
        alt=""
      />
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consect</p>
    </div>
    <div class="service" id="service">
      <img
        src="../../../../assets/images/Services-icon/Photographer--blue--icon.svg"
        alt=""
      />
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consect</p>
    </div>
    <div class="service" id="service">
      <img
        src="../../../../assets/images/Services-icon/Ad-pop-up--blue--icon.svg"
        alt=""
      />
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consect</p>
    </div>
  </div>
</div>
